<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    开启context扫描-->
    <context:component-scan base-package="com.springstarter"/>

    <bean id="CleanAir" class="com.springstarter.ioc_03.CleanAir">
        <qualifier value="cleanair"/>
    </bean>

    <bean id="xmlinstance" class="com.springstarter.ioc_container_05.bean_inject.xml_inject.field_constructor.XMLInstance">
        <!-- 属性注入-->
        <!-- name-属性名, value-设置基本数据类型的属性值, 在spring配置文件中，bean之间可以相互引用，引用时可以用<ref>标签配置bean的id属性-->
        <property name="air" ref="CleanAir"></property>
        <property name="name" value="Kavin"></property>
        <!-- 构造函数注入-->
        <!-- 使用constructor-arg设置构造函数的参数，index设置参数的顺序,ref引用bean的id,value设置构造函数参数值-->
        <constructor-arg index="1" ref="CleanAir"></constructor-arg>
        <constructor-arg index="0" value="Kavin" ></constructor-arg>

        <!--    常见数据类型注入-->
        <!--    List属性注入-->
        <property name="lists">
            <list>
                <value>1</value>
                <ref bean="CleanAir"/>
                <bean class="com.springstarter.ioc_03.CleanAir"/>
            </list>
        </property>
        <!-- Set属性注入 -->
        <property name="sets">
            <set>
                <value>1</value>
                <ref bean="CleanAir"/>
                <bean class="com.springstarter.ioc_03.CleanAir"/>
            </set>
        </property>
        <!-- Map属性注入 -->
        <property name="maps">
            <map>
                <entry key="key1" value="1"></entry>
                <entry key="key2" value-ref="CleanAir"></entry>
                <entry key="key3">
                    <bean class="com.springstarter.ioc_03.CleanAir"/>
                </entry>
            </map>
        </property>
        <!-- Properties属性注入 -->
        <property name="pros">
            <props>
                <prop key="prokey1">prokeyA</prop>
                <prop key="prokey2">prokeyB</prop>
            </props>
        </property>
    </bean>

    <!--工厂方法注入-->
    <!--    静态工厂方法: 只需设置工厂方法对应的类，以及对应的工厂方法-->
    <bean id="xmlfactorystaticinstance" class="com.springstarter.ioc_container_05.bean_inject.xml_inject.factory.XMLFactory" factory-method="CreateStaticInsance"></bean>
    <!-- 实例工厂方法：先实例化工厂类，再通过工厂类对象调用实例方法获取bean对象-->
    <bean id="xmlfactory" class="com.springstarter.ioc_container_05.bean_inject.xml_inject.factory.XMLFactory"></bean>
    <bean id="xmlfactoryinstance" factory-bean="xmlfactory" factory-method="CreateInstance"></bean>

</beans>
